.header {
  position: fixed;
  top: 10px;
  left: 0.5%;
  z-index: 1000;
  min-width: 100%;
  display: flex;
  border-radius: 12px;
  background-color: transparent;
  margin-bottom: 2px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 100%;
  margin-left: 50px;
  padding: 15px;
}
.link {
  width: 95px;
  height: 105px;
  background: #001ca676;
  transform: rotate(20deg) skew(-10deg, -5deg);
  transition: 0.4s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 200px;
  color: #fff;
  border-radius: 10px;
}

.active {
  box-shadow: rgba(0, 0, 0, 0.5) 5px 3px, rgba(0, 0, 0, 0.4) 10px 6px,
    rgba(0, 0, 0, 0.3) 15px 9px;
  background: #001ca6;
  color: #fff;
  font-size: 1.2rem;
}
