:root {
  font-family: "Times New Roman", Times, serif, Arial, Helvetica, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  font-family: "Georgia", sans-serif;
  line-height: 1.5;
  letter-spacing: -0.2px;
  margin: 0 auto;
  min-height: 100svh;
  box-sizing: content-box;
  background-image: radial-gradient(circle, rgb(255, 166, 0), transparent 20%, orangered);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: orange;
  color: #121212;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
#root {
  width: 100svw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  padding: 150px;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
  
}
